<div class="container-fluid">
    <div class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <div class="navbar-brand">Gadgeon</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navlist">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navlist">
                <div class="navbar-nav nav-pills w-100">
                    <a class="nav-link ms-auto" routerLink="/signin">Sign in</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>